<div id="content">

    <div class="main">

        <div class="textcontainer">
            <h1 class="main-title center aligned"><%= @wish.title %></h1>
        </div>
        <div class="center aligned">
            <%= image_tag @wish.image.to_s, class: 'main_image'%>
        </div>
        <p class="message">
            <%= @wish.object %>さん、この度のハッカソンではたくさんのアドバイスありがとうございました。<%= @wish.object %>さんのおかげでなんとか完成させることができました。二日間ありがとうございました！
        </p>

    </div>
    <div class="ui five column center aligned grid">
        <% @messages.each_with_index do |message, i| %>
            <div class="column">
                <%= image_tag message.icon.to_s, class: 'img_people ui test' %>

                <div class="ui modal" id="<%= i %>" >
                    <i class="close icon"></i>
                    <div class="header">
                        Message
                    </div>
                    <div class="image content">
                        <%= image_tag message.icon.to_s, class: 'image_people', size: "360x240" %>
                        <div class="description" style="padding-left:30px;">
                            <div class="ui header"><%= @wish.object %>さん、お誕生日おめでとう！</div>
                            <p><%= message.body %></p>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui positive right labeled icon button">
                            Close
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>

            </div>

        <% end %>

    </div>
</div>
<canvas id="canvas"></canvas>
