<div class="ui two column stackable padded grid main-image">
    <div class="main-image-left column">
        <div class="main-image-left-box center aligned">
            <h1>大切な人に、サプライズを</h1>
            <p>
                親友や家族に感謝の気持ちを伝えることはなかなかない。だってもうそんな感情、当たり前すぎて今更いうのは恥ずかしいから。でもせっかくの誕生日。一年に一度の特別な日。あなたの大切な人に、普段は言えない気持ちをBirthdayWishesを使って伝えてみませんか？
            </p>
                <%= link_to "サプライズする", new_wish_path %>

        </div>
    </div>
    <div class="main-image-right column"></div>
</div>
<div class="intro">
    <div class="intro-h1">
        <h1>BirthdayWishesとは</h1>
    </div>
    <p>大切な人にサプライズ形式でメッセージや動画を贈ることができるサービスです。あなたはこのページで、主催者様のurlを取得した後、そのurlを友人を祝う人全員に拡散し、メッセージを回収します。そのあとに、祝われる人用のurlを贈ると、たくさんの友人から集められたメッセージが一斉にページに表示されます。あなたの大切な人の誕生日を、記憶に残る一日に彩ってみませんか？</p>
</div>

<div class="intro2">
    <div class="intro2-h1">
        <h1>サプライズ成功事例</h1>
    </div>
    <div class="ui three column stackable padded grid intro-box">
        <div class="column circle">
            <div class="ui card centers">
                <div class="image">
                    <%= image_tag 'main-image.jpg', class: 'img_people'%>
                </div>
                <div class="content">
                    <a class="header">最高に記憶に残る思い出</a>
                    <div class="meta">
                        <span class="date">2017/2/2</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
            </div>
        </div>
        <div class="column circle">
            <div class="ui card centers">
                <div class="image">
                    <%= image_tag 'main-image.jpg', class: 'img_people'%>
                </div>
                <div class="content">
                    <a class="header">忘れられない一日</a>
                    <div class="meta">
                        <span class="date">2017/2/2</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
            </div>
        </div>
        <div class="column circle">
            <div class="ui card centers">
                <div class="image">
                    <%= image_tag 'main-image.jpg', class: 'img_people'%>
                </div>
                <div class="content">
                    <a class="header">サプライズ大成功！</a>
                    <div class="meta">
                        <span class="date">2017/2/2</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro3">
    <div class="intro3-h1">
        <h1>次はあなたの番</h1>
    </div>
    <p>あなたも大切な人へサプライズをしてみませんか？</p>
    <%= link_to "サプライズする", new_wish_path %>

</div>
