<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="main">
            <div class="textcontainer">
                <h1 class="main-title center aligned">Message</h1>
            </div>
            <p class="desc"><%= @wish.description %></p>
            <p class="deadline"><%= @wish.deadline %></P>
            <p>までにメッセージを送ろう！</p>
        </div>
        <%= form_for @messages, url: wish_messages_path(@wish.id), html: {class: "ui large form"} do |f| %>
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <%= f.text_field :name,:placeholder => "お名前を入力してください。" %>
                </div>
            </div>
            <div class="field">
                <%= f.text_area :body, :rows => "3", :placeholder => "メッセージを入力してください。" %>
            </div>
            <div id="preview"></div>
            <div class="field center aligned">
                <label for="file" class="ui icon button">
                    <i class="image icon"></i>
                    アイコン画像を設定する
                </label>
                <%= f.file_field :icon, style: "display:none", :id => "file" %>
            </div>
            <%= f.submit "メッセージを送る", :id => "submit", :class => "ui fluid large yellow submit button" %>
        </div>
        <% end %>
    </div>
    <div class="four wide column"></div>
</div>
