<h1>Messages#new</h1>
<%= @wish.description %>
<%= @wish.deadline %>
<%= form_for @messages, url: wish_messages_path(@wish.id) do |f| %>
  <%= f.text_field :name %>
  <br>
  <%= f.text_area :body %>
  <br>
  <%= f.file_field :icon %>
  <br>
  <%= f.submit "æŠ•ç¨¿ã™ã‚‹" %>
<% end %>